@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<input id="Text1" type="text" />
<br/><br/><br/>
<a input id="Submit1" href="http://localhost:58618/api/taxablepersons" target="_blank" type="submit" value="submit">Areas</a>

<textarea id="TextArea1" rows="2" cols="20"></textarea>

<select name="number">
    <option value="">Select a number</option>
    <option value=href="http://localhost:58618/api/taxablepersons">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
</select>
